#styleTitleAndList {
   float: left;
   width: 25%;
}
#styleTurn {
   float: left;
   width: 25%;
}
#styleRuleSetting {
	float: right;
	width: 50%;
}
#styleInputTheme {
	clear: right;
}
#styleMain {
	clear: both;
}

