table {
	border-collapse: collapse;
}

table th, table td {
	padding: 3px;
	border: solid 1px black;
}

table th{
	color: white;
	background: royalblue;
}

table td{
	color: black;
	background: white;
	width:150px
}

table tr td:nth-of-type(1){
	background: lightskyblue;
	width:60px
}
